*.iml
.gradle
/local.properties
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/kotlinc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/deploymentTargetSelector.xml
/.idea/copilot.*
.DS_Store
/app/release
/app/debug
/build
/captures
/documents
.externalNativeBuild
.cxx
local.properties
kitting.properties
/*~
/#*
