/*.iml
/.gradle
/local.properties
/.idea/caches
/.idea/copilot.data.migration.*.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/kotlinc.xml
/.idea/inspectionProfiles
/.idea/dictionaries
/.kotlin
/.DS_Store
/documents/api
/app/google-services.json
/app/release
/app/debug
/build
/captures
/keystore
/.externalNativeBuild
/.cxx
/local.properties
/cabmee_cloud.properties
/google_maps.properties
/*~
/#*
